body{
	background: -webkit-linear-gradient(to left, #f857a6 , #ff5858);
	background: linear-gradient(to left, #f857a6 , #ff5858); 
	text-align: center;
	color: white;
	font-size: 18px;
	font-family: 'Cutive Mono', monospace;
	margin: auto;

}    

label{
	font-family: 'Cutive', serif;
	font-size: 60px;
	color: white;
	font-weight: bolder;
}

.form{
	margin: auto;
	margin-top: 35px;
	width: 70%;
	padding: 25px;
}

textarea{
	background-color: #0b1a33;
	color: white;
	border-radius: 50px;
	width: 650px;
	height: 60px;
	font-size: 44px;
	text-align: center;
	padding: 10px;
	resize: none;
	overflow: none;
	border-width: 2px;
	border-color: white;
}

#button-holder{
	padding: 0px 40px;
}

.btn{
	font-family: 'Cutive', serif;
	font-size: 30px;
	margin-top: 150px;
	color: white;

}

button{
	border-width: 2px;
	border-color: white;
	background-color: #0b1a33;
	color: white;
	border-radius: 35px;
	text-align: center;
	margin: 20px;
	font-size: 16px;
	text-align: center;
	padding: 20px;
	width: 150px;
}

#giphy-holder{
	width: 1250px;
	height: 300px;
	overflow: auto;
	margin: auto;
	padding: 20px;
	margin-bottom: 30px;
}

img{
	width: 300px;
	float: left;
}

p{
	float: left;

}

footer{
	width:100%;
	padding: 20px 0;
  clear: both;
  height: 15px;
	left: 0;
  bottom: 0;
  background-color: #0b1a33;
  color: white;
  margin: auto;
  font-size: 12px;
}